{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/portfolio.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Skills</h1>
            <span class="subheading">“Life without knowledge is death in disguise.”</span>
            <span>Talib Kweli</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container" >
    <style>
      .container {
        text-align: center;
      }
    </style>
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="middle-container" class="center">
        <div class="profile">
        <img src="static/assets/images/jennyround.png" alt="Jenny Profile photo">
        <h2>Hi there, I am Jenny.</h2>
        <p class="intro">Welcome and thank you for visiting my website.</p>
        </div>
</div>
      </div>
    </div>
  </div>

<div class="skills" >
  <h3>EDUCATION:</h3>
    <ul>
        <li>Master degree of environmental engineering</li>
        <li>National University, at San Diego, 10/2011-06/ 2013</li>
        <li>Bachelor degree of bioengineering</li>
        <li>Fujian Normal University, 10/2007-06/2011</li>
        <li>DRE - Department of Real Estate Licensed – Lic.# 01972392</li>
    </ul>
     <hr size="3">
    <h3>PROFESSIONAL EXPERIENCE:</h3>
        <h4><pre>01/2016-10/2022                         P.H.D.Home Improvement,INC-San Diego,CA</pre></h4>
    <h5>Business Owner</h5>
    <ul>
        <li>Responsible for Business Development and Sales</li>
        <li>Management daily operations,sales and customer service</li>
        <li>Manage quality and quantity, price, showroom display, inventory etc.</li>
        <li>Build,develop and maintain relationships that will result in repeat sales and future business</li>
        <li>Management of productivity,training and development of employees, suppliers and partners</li>
        <li>Financial management,set budget, keep control over finances and maximize revenue & profit</li>
        <li>Adequately provided resolutions and communicate with customers whenever project issues arise</li>
        <li>Developing competitive strategic advantage on established market niche to combat the increasing competition</li>
        <li>Finalize comprehensive marketing plans to promote products and services, and enhance P.H.D. brand image in the long run</li>
    </ul>
      <h4><pre>10/2012 - 10/2015                         Jiafeng Interior, INC.-San Diego, CA</pre></h4>
    <h5>Manager</h5>
    <ul>
        <li>Develop quotation and close sales</li>
        <li>Responsible for on-site and off measurement</li>
        <li>Work closely with the team from start to completion</li>
        <li>Responsible for the management of multiple projects</li>
        <li>Provide product knowledge and design recommendations to customer</li>
        <li>Complete detailed kitchen, bath home as-built measurement draftings</li>
        <li>Contact suppliers and vendors for material availability, pricing, and ordering</li>
        <li>Prepare necessary document such as ,quotation, contracts, change order forms</li>
        <li>Interfaced with customer and project management on all phases of construction</li>
        <li>Delivered detailed contracts to clients covering all scopes of work to be completed</li>
        <li>Able to estimate costs and deliver profitable change orders to maintain high profitability</li>
        <li>Experience in kitchen, bathroom and room additions design and sales as a GC working with customers</li>
        <li>Set expectations with clients walking through all processes of designing, and building on their dream spaces</li>
        <li>Follow up and following through until project completion to ensure accuracy,fulfill customer’s order successfully and collect
payments</li>
        <li>Marketing and social media management, meet with local social media sales representative monthly to finalize marketing
plan,target area and budget</li>
    </ul>
    <h3>SKILLS:</h3>
     <hr size="3">
    <table cellspacing="10">
        <tr>
            <td>
                <table cellspacing="20">
                    <tr>
                        <td>iOS Development</td>
                        <td>⭐️️⭐⭐⭐⭐</td>
                    </tr>
                    <tr>
                        <td>Web Development</td>
                        <td>⭐️️⭐⭐⭐⭐</td>

                    </tr>
                </table>

            </td>
            <td>
                <table cellspacing="20">
                    <tr>
                        <td>Javascript</td>
                        <td>⭐️️⭐⭐⭐⭐</td>
                    </tr>
                    <tr>
                        <td>Photography</td>
                        <td>⭐️️⭐⭐⭐⭐</td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>

    <ul>
        <li>Dept. of Real Estate licensed.</li>
        <li>Prior retail management experience</li>
        <li>Strong planning and coordination skills</li>
        <li>Analytical thinking and strategic planning</li>
        <li>Good Communication Skills and problem solver</li>
        <li>Have a passion for people development, motivating a team</li>
        <li>Detail oriented with ability to multitask and prioritize work to produce desired outcomes</li>
        <li>Strong time management, excellent organizational skills and give clear direction and set expectations for staff</li>
        <li>Strong computer skills including Word, Excel, Adobe,Outlook, internet and database type programs, with the ability to learn
quickly</li>
    </ul>
</div>

  {% include "footer.html" %}